<template name="inspirationLayout">
	<div class="col s12 m10 l6">
	  <div class="card blue-grey">
	    <div class="card-content white-text">
	      <span class="card-title">Rain inspiration</span>
	    </div>
	    <div class="card-action white-text">
	      	<div class="input-field">
	      	  <label for="posttext">what's on your mind?</label>
	          <input type="text" class="validate posttext" name="posttext" id="posttext">
	        </div>
	        <!-- <a class="btn-floating btn-medium waves-effect waves-light deep-orange"><i class="material-icons">add</i></a> -->
	    </div>
	  </div>
	</div>
</template>